/node_modules

config.env

package-lock.json
package.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

dbscripts/mysql_data/
.dockerignore
docker-compose.override.yml
docker-compose.yml

/dist
/build

.DS_Store
.vscode/
.idea/